@charset "utf-8";

body{
    color:#0f0;
    font-size:20px;
    background-color: #ddd;
    margin: 0px;
}

h1{
    color: orange;
}
/*
    a 태그의 상태에 따른 스타일시트 적용하기
    text-decoration : linethrough:취소선, underline:및줄, overline:윗줄, none:선없음
*/

    a:link {color : orange; text-decoration: none; font-weight: bold; font-size: 30px;} /* 링크 상태일때*/
    a:visited{background-color: yellow;text-decoration: none; font-weight: bold; font-size: 30px;} /* 방문 했을 때*/
    a:hover {color:red;text-decoration: none; font-weight:normal; font-size: 20px;} /* 마우스 오버시*/ 
    a:active{color :blue;} /*마우스를 누른 상태일때*/
